@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'stoner-regular';
  src: url('/fonts/stoner-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #6633FF;
    --secondary: #A7C4D2;
    --custom-gray: #7D818B;
  }
}

body {
  color: var(--custom-gray);
  background: var(--background);
  font-family: 'stoner-regular', sans-serif;
}
